@tailwind base;
@tailwind components;
@tailwind utilities;

#chartContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
}

#expenseTable {
  width: 100%;
}

#addButton {
  margin-left: 20px;
}

#pieChartContainer {
  width: 20%;
  margin: 10px;
  margin: 58px 50px 75px 100px;
}

#barGraphContainer {
  width: 35%;
  margin: 50px 50px 75px 100px;
}

#columnChartContainer {
  width: 35%;
  margin: 50px 50px 75px 100px;
}

.ag-root-wrapper {
  margin: 20px;
}
